<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <location path="iscrizione.php">
        <system.webServer>
            <security>
                <authorization>
                    <remove users="*" roles="" verbs="" />
                    <add accessType="Allow" users="*" />
                </authorization>
            </security>
        </system.webServer>
    </location>
    <location path="iscritti.php">
        <system.webServer>
            <security>
                <authorization>
                    <remove users="*" roles="" verbs="" />
                    <add accessType="Deny" users="?" />
                    <add accessType="Allow" users="HolisticRemedies" />
                </authorization>
            </security>
        </system.webServer>
    </location>
    <location path="sendletter.php">
        <system.webServer>
            <security>
                <authorization>
                    <remove users="*" roles="" verbs="" />
                    <add accessType="Allow" users="HolisticRemedies" />
                    <add accessType="Deny" users="?" />
                </authorization>
            </security>
        </system.webServer>
    </location>
    <location path="interessi.php">
        <system.webServer>
            <security>
                <authorization>
                    <remove users="*" roles="" verbs="" />
                    <add accessType="Allow" users="HolisticRemedies" />
                    <add accessType="Deny" users="?" />
                </authorization>
            </security>
        </system.webServer>
    </location>
</configuration>
